on:
  push:
    branches:
      - main
permissions:
  contents: write      # allow pushing tags and creating releases
  pull-requests: write # allow opening release PRs
  issues: write        # allow commenting on issues if needed

jobs:

  release-please:
    runs-on: ubuntu-latest
    steps:

      # - run: npm test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ioncakephper/commander-pkg-meta

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: node
          # package-name: 'commander-pkg-meta'
# The following job is commented out to prevent publishing to npm.
#  publish:
#    needs: release-please
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions/setup-node@v2
#        with:
#          node-version: '16'
#          registry-url: 'https://registry.npmjs.org'
#      - run: npm ci
#      - run: npm publish
#        env:
#          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

